# Python cache
__pycache__/
*.py[cod]

#virtual environments
.venv/
venv/
env/
ENV/

# Environment and secrets
.env
.env.*
.streamlit/secrets.toml



# Test and tool cashes
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# IDE settings
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
